# Python Virtual Environment
.venv

# Checkpoints
ckpt
1.6_ckpt
path

# Summary
tb
logs

# Save dir
1.6_the_saved_model
1.6_keras_ex_model_save

# model plot images
plot_model

# datasets
~
.keras

vectors.tsv
metadata.tsv